{$HOST:0.0.0.0}:{$PORT:8080}

@django path /api /api/* /admin /admin/* /media/* /static /static/*
handle @django {
	reverse_proxy 127.0.0.1:{$DJANGO_PORT:8000}
}

handle {
	reverse_proxy 127.0.0.1:{$NODE_PORT:3000}
}
